html, body, ul, li {
    margin: 0px;
    padding: 0px;
}

.app {
}

.map{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right:0px;
    width: 80%;
    background: #d3d3d3;
}

.legend{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height:100%;
    background: #708090;
}

.legendswitch{
    position: absolute;
    top:0;
    left:0;
    background: #98fb98;
}

.legendswitch label{
    position: absolute;
    top:0;
    left:0;
    width: 25px;
    height:25px;
    background: #98fb98;
}

.legendswitch input{
    position: absolute;
    top:0;
    left:-9999px;
}

.client {
    color: #006400;
}

.opponent {
    color: darkred
}

@media (min-width: 1200px) {
    /*.resp:after{*/
        /*content: 'min-width: 1200px';*/
    /*}*/
}
@media (min-width: 980px) {
    /*.resp:after{*/
        /*content: 'min-width: 980px';*/
    /*}*/
}
@media (min-width: 768px) and (max-width: 979px) {
    /*.resp:after{*/
        /*content: '(min-width: 768px) and (max-width: 979px)';*/
    /*}*/
}
@media (max-width: 979px) {
    /*.resp:after{*/
        /*content: '(max-width: 979px)';*/
    /*}*/
}
@media (max-width: 767px) {
    /*.resp:after{*/
        /*content: '(max-width: 767px)';*/
    /*}*/
}
@media (max-width: 480px) {
    .legend{
        display: none;
    }
    .map{
        width:100%;
    }
}