html, body, ul, li {
    margin: 0px;
    padding: 0px;
}

.app {
}

.map{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right:0px;
    width: 80%;
    background: #d3d3d3;
}

.legend{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height:100%;
    background: #708090;
}

.legendswitch{
    position: absolute;
    top:0;
    left:0;
    background: #98fb98;
}

.legendswitch label{
    position: absolute;
    top:0;
    left:0;
    width: 25px;
    height:25px;
    background: #98fb98;
}

.legendswitch input{
    position: absolute;
    top:0;
    left:-9999px;
}

.client {
    color: #006400;
}

.opponent {
    color: darkred
}

/*#map {*/
    /*display: none;*/

    /*position: absolute;*/
    /*width: 530px;*/
    /*height: 300px;*/
    /*background: gray;*/

    /*left: 50%;*/
    /*right: 50%;*/
    /*top: 50%;*/
    /*bottom: 50%;*/

    /*margin-top: -150px;*/
    /*margin-left: -265px;*/
/*}*/


/*@media all and (min-width: 980px) and (min-height: 880px) {*/

/*}*/

/*@media all and (max-width: 580px) {*/
    /*#map {*/
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/

        /*width: 100%;*/
        /*height: 100%;*/

        /*margin: 0;*/
    /*}*/
/*}*/

.resp{
    /*background: #ccc;*/
    /*width:160px;*/
    /*height:90px;*/
}

@media (min-width: 1200px) {
    /*.resp:after{*/
        /*content: 'min-width: 1200px';*/
    /*}*/
}
@media (min-width: 980px) {
    /*.resp:after{*/
        /*content: 'min-width: 980px';*/
    /*}*/
}
@media (min-width: 768px) and (max-width: 979px) {
    /*.resp:after{*/
        /*content: '(min-width: 768px) and (max-width: 979px)';*/
    /*}*/
}
@media (max-width: 979px) {
    /*.resp:after{*/
        /*content: '(max-width: 979px)';*/
    /*}*/
}
@media (max-width: 767px) {
    /*.resp:after{*/
        /*content: '(max-width: 767px)';*/
    /*}*/
}
@media (max-width: 480px) {
    /*.legend{*/
        /*display: none;*/
    /*}*/
    /*.map{*/
        /*width:100%;*/
    /*}*/
}