html, body{
    margin: 0px;
    padding: 0px;
}

.app {}

.map{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right:0px;
    width: 100%;
}

@media (min-width: 1200px) {
    /*.resp:after{*/
        /*content: 'min-width: 1200px';*/
    /*}*/
}
@media (min-width: 980px) {
    /*.resp:after{*/
        /*content: 'min-width: 980px';*/
    /*}*/
}
@media (min-width: 768px) and (max-width: 979px) {
    /*.resp:after{*/
        /*content: '(min-width: 768px) and (max-width: 979px)';*/
    /*}*/
}
@media (max-width: 979px) {
    /*.resp:after{*/
        /*content: '(max-width: 979px)';*/
    /*}*/
}
@media (max-width: 767px) {
    /*.resp:after{*/
        /*content: '(max-width: 767px)';*/
    /*}*/
}
@media (max-width: 480px) {
    /*.map{*/
        /*width:100%;*/
    /*}*/
}

@media screen and (orientation: portrait){
    /*.map {*/
        /*width: 100%;*/
    /*}*/
}

@media screen and (orientation: landscape){
    /*.map {*/
        /*width: 80%;*/
    /*}*/
}